/* You can add global styles to this file, and also import other style files */

body {
  background-color: #e4e6e4;
  max-width: 1440px;
  margin: auto;
}

.card {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 2%;
  break-inside: avoid;
}
