.card-img-top{
  width: auto;
  max-height: 50%;
  min-height: 50%;
  object-fit: contain;
}

.card-footer{
  border: none;
}

.info-link{
  cursor: pointer;
}
@media (max-width:768px) {
  .card-img-top{
    max-height: 60%;
    min-height: 60%;
  }
}

@media (max-width:576px) {
  .card-img-top{
    max-height: 70%;
    min-height: 70%;
  }
}


